{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <h3>Ngram per-article collocations scorings</h3>
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                <div class="control-group">
                    <label>
                        {{ field.label }}:
                        {{ field }}
                        {{ field.errors }}
                    </label>
                </div>
            {% endfor %}
        </fieldset>
        <button class="btn btn-large btn-primary">Score!</button>
    </form>
    {% if map_precision %}
        <h3>MAP: {{ map_precision }}</h3>
        <ul>
            {% for article, values in article_dict %}
            <li>
                <b>{{ article.id }}: {{ article.title }}</b>
                <ul>
                    {% for ngram, value in values.items %}
                    <li><span class="label {% if value.is_rel %}label-success{% else %}label-important{% endif %}">
                        {{ ngram }}: {{ value.score }}, count: {{ value.abs_count }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
