{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <h3>Available models</h3>
    <ul>
        {% for model in collection_models %}
            <li>
                <h4>{{ model.name }}</h4>
                <a href="{% url "count_dist" model.name %}">
                    <i class="icon-signal"></i> Count distribution</a>
                <br>
                <a href="{% url "ci_stats" model.name %}">
                    <i class="icon-signal"></i> N-gram word distribution</a>
                <br>
                <a href="{% url "ngram_participation_stats" model.name %}">
                    <i class="icon-fire"></i>
                    N-gram participation graph</a>
                <br>
                <a href="{% url "pos_dist" model.name %}">
                    <i class="icon-signal"></i>
                    POS tag distribution</a>
                <br>
                <a href="{% url "ngram_measures" model.name %}">
                    <i class="icon-signal"></i>
                    Ngram scoring measures</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
