{% load url from future %}
<div>
    <h3>Scoring legend</h3>
    <dl class="dl-horizontal">
        <dt><span class="badge badge-success">ONT partial ngram</span></dt>
        <dd>Sum of the counts of full collocation in the ontology (how often an n-gram
            appears as a part of a concept in the ontology)
        </dd>
        <dt><span class="badge badge-warning">ONT partial word</span></dt>
        <dd>Sum of the counts of words from a given collocation in the ontology (how often a word
            appears as a part of a concept in the ontology)
        </dd>
        <dt><span class="badge badge-important">Often consumed</span></dt>
        <dd>The n-gram often becomes a part of a bigger n-gram. The score denotes the multiplier.
        </dd>
    </dl>
</div>
<div class="row">
    <div class="span6">
        <form class="form-search" method="GET" action="{% url "colloc_filter" model_name %}">
            <h3>Filter ngrams</h3>
            <div class="input-append">
                <input type="text" name="query" class="input-xlarge search-query">
                <button type="submit" class="btn btn-inverse">Filter</button>
            </div>
        </form>
    </div>
    <div class="span6">
        <h4><a href="{% url "clear_attribute" model_name %}">Clear attribute cache</a></h4>
    </div>
</div>
