{% load url from future %}
{% load ngram_contexts %}

<div class="object">
<a href="{% url "testcollection_model_detail" model_name object.id %}">
    <span class="badge {% if object.is_relevant == True %}badge-success{% elif object.is_relevant == False %}badge-important{% endif %}">{{ object.ngram }}</span>
    : {{ object.article }}</a>
<span class="badge">Total count: {{ object.total_count }}</span>
<span class="badge">Count: {{ object.count }}</span>
<div class="alert alert-info">
    {% highlight_ngram_context object.ngram object.context %}
</div>
</div>
