[Unit]
Description=gunicorn daemon

[Service]
Type=forking
PIDFile=/home/roman/axel/gunicorn.pid
User=roman
WorkingDirectory=/home/roman/axel
ExecStart=/home/roman/axel/venv/bin/gunicorn -p /home/roman/axel/gunicorn.pid axel.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
