{% extends "base.html" %}

{% block extra-head %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">

        $(function () {
            var chart;
            $(document).ready(function() {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'spline',
                        marginTop: 100
                    },
                    credits: false,
                    title: {
                        text: ''
                    },
                    xAxis: {
                        labels: {
                            style: {
                                fontSize: '18px'
                            },
                            y: 20
                        }

                    },
                    yAxis: {
                        min: 0.6,
                        title: {
                            text: 'Precision',
                            style: {
                                fontSize: '24px'
                            }
                        },
                        labels: {
                            style: {
                                fontSize: '18px'
                            }
                        }
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.1,
                            borderWidth: 0
                        }
                    },
                    series: [
                        {% for measure_name, data in graph_data %}
                        {
                            name: "{{ measure_name }}",
                            data: {{ data }}

                        },
                        {% endfor %}
                    ]
                });
            });

        });
    </script>
{% endblock %}

{% block content %}
    <h3>Different Ngram scoring measures</h3>
    <div id="container" style="min-width: 800px; height: 800px; margin: 0 auto"></div>
{% endblock %}
