{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <h3>{% trans "Conceptual article filtering" %}</h3>
        <form id="concept_form" class="form-search" method="GET" action="{% url concept_autocomplete %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
        </form>
    </div>
    <div id="selected_concepts" class="row">
        <h4>Selected concepts</h4>
        <span class="hidden label label-white"></span>
    </div>
    <div class="row">
        <br>
        <button data-url="{% url filter_articles %}" id="show_articles" class="btn btn-primary btn-large">{% trans "Show articles" %}</button>
    </div>
{% endblock %}
