{% extends "base.html" %}

{% block content %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <legend>PDF co-locations</legend>
        {% csrf_token %}
        {% for field in form %}
            <div class="control-group">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                </div>
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    {# display collocations #}
    {% if colocations %}
        <h3>Co-location list</h3>
        <ul>
        {% for score, colocation in colocations %}
            <li><span class="label">{{ colocation }} {{ score }}</span></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
