{% extends "base.html" %}

{% block content %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url pdf_collocations %}">
        <legend>PDF co-locations</legend>
        {% csrf_token %}
        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    <span class="help-inline">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                    </span>
                </div>
            </div>
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    {# display collocations #}
    {% if colocations %}
        <h3>Co-location list</h3>
        <ul class="unstyled">
        {% for score, colocation in colocations %}
            <li>
                {{ colocation }}
                <span class="badge">{{ score }}</span>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
